server/server
client/data.db
client/client
server/server.exe
client/data.db.lock
client/client.exe
client/conf.json
client/watcher.exe
client/watcher.log
server/tmp/server.log
server/tmp/runner-build.exe
server/server.log
client/state.txt
server/tmp/conf.json
server/tmp/runner-build.exe~

server/server.log
